* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000000;
}

.header {
  background-color: #000000;
  text-decoration: none;
  width: 95%;
}

.nav_menu {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.nav_menu .navbtn_contact {
  color: #51db73;
}

.nav_menu a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  margin-left: 15px;
}

.nav_menu a:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(0, 1);
}

.nav_menu a:hover:after {
  opacity: 1;
  transform: scale(1);
  color: #51db73;
}

.nav_menu a:hover {
  color: #51db73;
  transition: 1s ease;
}

.social_media {
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
}

.social_media ul {
  margin-top: 200px;
  list-style: none;
  align-items: center;
  text-align: center;
}

.social_media ul li {
  margin-bottom: 21px;
  display: block;
}

.offer {
  margin-top: 145px;
}

.offer .btns {
  margin-top: 35px;
  display: block;
}

.offer .title {
  font-family: 'Roboto', sans-serif;
  font-size: 43.48px;
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
}

.offer .form {
  padding: 10px;
  border: 1px solid #51db73;
  box-shadow: 0 0 16px  #51db73;
}

.offer .form .form_information {
  display: flex;
}

.offer .form .form_group {
  position: relative;
  margin-bottom: 36px;
  margin-top: 20px;
}

.offer .form .form_label {
  position: absolute;
  top: 0;
  z-index: -1;
  color: #ffffff;
  transition: 0.3s;
}

.offer .form .form_input {
  width: 100%;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #51db73;
  background-color: transparent;
  outline: none;
  transition: 0.3s;
}

.offer .form .form_input:focus {
  border-bottom: 1px solid #ffffff;
}

.offer .form .form_button {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  padding: 5px 34px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #51db73;
  box-shadow: inset 0 0 20px #51db73;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  border-color: transparent;
}

.offer .form .form_button:hover {
  color: #000;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

.rubber-letter {
  transition: 0.2s ease-in-out color;
}

.rubber-letter:hover {
  display: inline-block;
  cursor: pointer;
  animation: rubberLater 1s ease-in-out forwards;
  color: #51db73;
}

@keyframes rubberLater {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1.05, 1);
  }
}

.form_input:focus ~ .form_label, .form_input:not(:placeholder-shown) ~ .form_label {
  top: -18px;
  font-size: 12px;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.btns .btn {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  padding: 5px 34px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: #51db73;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: inset 0 0 20px #51db73;
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btns .btn:hover {
  background-color: #51db73;
  box-sizing: border-box;
  color: #000000;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  box-sizing: border-box;
}

.btns .btncv {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 400;
  padding: 5px 34px;
  text-decoration: none;
  border: 2px solid #51db73;
}

.btns .btncv:hover {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #000000;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  box-sizing: border-box;
}

.words {
  position: relative;
  z-index: 1;
  color: #000;
  font-size: 0;
  line-height: 1;
  margin-top: 132px;
  width: 100%;
  margin-right: 108px;
}

.words-2 {
  margin-top: 10px;
}

.words span {
  font-size: 97px;
  display: inline-block;
  animation: move 2s ease-in-out infinite;
}

.words span:nth-child(2) {
  animation-delay: 0.5s;
}

.words span:nth-child(3) {
  animation-delay: 1.0s;
}

.words span:nth-child(4) {
  animation-delay: 1.5s;
}

.words span:nth-child(5) {
  animation-delay: 2.0s;
}

@keyframes move {
  0% {
    transform: translate(-33%, 0);
  }
  50% {
    text-shadow: 0 15px 40px #75da87;
  }
  100% {
    transform: translate(33%, 0);
  }
}

@media (max-width: 768px) {
  .words {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .words {
    display: none;
  }
  .nav_menu {
    justify-content: space-between;
    text-align: center;
  }
  .nav_menu a {
    font-size: 25px;
  }
  .social_media_icons ul {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (max-width: 100px) {
  .words {
    display: none;
  }
  .nav_menu {
    width: 100%;
    text-align: center;
    margin-left: 0;
  }
  .nav_menu a {
    font-size: 17px;
  }
  .social_media_icons ul {
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=contactme.css.map */